@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17 24 39);
}

/* Custom styles for the card flip */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.flipped .transform-style-preserve-3d {
  transform: rotateY(180deg);
}

.flipped .absolute:first-child {
  transform: rotateY(180deg);
}